:host>>>mat-card {
  background: #ffffff;
  margin: 0px;
}

:host>>>.td-key {
  color: grey;
}

:host>>>.value {
  color: black;
}

:host>>>.number {
  color: green;
}

:host>>>.boolean {
  color: mediumslateblue;
}

:host>>>.string {
  color: orangered;
}
